{% extends 'base.html' %}

{% block title %}
Change password
{% endblock %}



{% block body %}

<h2>Change password</h2>
<div class="div-form">
    <main class="form-signin">
        <form method="POST">
            {{form.hidden_tag()}}
            <div class="form-floating">
                {{form.password(type="password", class="form-control", id="floatingPassword", placeholder="New Password")}}
                <label for="floatingPassword">New Password</label>
            </div>

            {{form.submit(class="w-100 btn btn-lg btn-primary")}}
        </form>
    </main>
</div>


{% endblock %}